{% extends "iadmin/fm/index.html" %}
{% load i18n adminmedia %}

{% block currentdir %}<a href="{% url admin:iadmin.fm.index directory.absolute_url %}">{{ directory.name }}</a>{% endblock  %}

{% block content %}
<h1>Upload</h1>

<div id="content-main">
<form enctype="multipart/form-data" action="" method="POST">{% csrf_token %}
<div>
{% if form.errors %}
	 <p class="errornote">
	 {% blocktrans count form.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
	 </p>
	 <ul class="errorlist">{% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% endif %}


<fieldset class="module aligned {{ fieldset.classes }}">
{% for field in form %}
  {% if field.is_hidden %}
    {{ field }}
  {% else %}
    <div class="form-row{% if field.errors %} errors{% endif %}">
      {% if field.errors %}{{ field.errors }}{% endif %}
		<div class="field-box">
      {{ field.label_tag }}
      {{ field }}
		{% if field.help_text %}<p class="help">{{ field.help_text|safe }}</p> {% endif %}
		</div>
    </div>
  {% endif %}
{% endfor %}
</fieldset>

<div class="submit-row">
    <input name="submit" type="submit" value="Save" class="default" />
</div>

</form>
{% blocktrans %} Max allowed size: {% endblocktrans %}{{ max_size|filesizeformat }}
</div>
</div>
{% endblock %}
