include README.rst
include AUTHORS
include LICENSE
include MANIFEST.in
include setup.py
recursive-include iadmin *.py
recursive-include iadmin/media *
recursive-include iadmin/templates *
prune iadmin/tests
