include README.rst
include AUTHORS
include LICENSE
include MANIFEST.in
include setup.py
include requirements.txt
recursive-include iadmin *.py
recursive-include iadmin/static *
recursive-include iadmin/templates *
prune iadmin/tests
