{% extends "admin/base.html" %}
{% load iadmin i18n %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}iadmin/css/iadmin.css"/>
{% endblock %}

{% block title %}{{ title }} | iAdmin console{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href='{% url admin:index %}'>iAdmin console</a></h1>
    {% if user.is_active and user.is_staff %}
    <div id="admin-links">
        <a href='{% url admin:iadmin.fm.index path=''%}'>file manager</a>&nbsp;&nbsp;&nbsp;
        <a href='{% url admin:admin_env_info %}'>info</a>&nbsp;&nbsp;&nbsp;
        {% import_csv_url %}&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
    </div>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="{% url admin:index %}">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title }}{% endif %}</div>{% endblock %}

{% block content %}

{% endblock %}
{#{% block nav-global %}{% endblock %}#}
