{% extends "admin/change_form.html" %}
{% load i18n iadmin_modify adminmedia %}
{% block extrahead %}{{ block.super }}
    <style type="text/css">
        .taberror {
            color: red;
            background: url({{ STATIC_URL }}iadmin/img/icon_error.gif) 0 0 no-repeat;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}iadmin/css/jquery-ui-1.8.1.custom.css"/>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}iadmin/js/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}iadmin/js/jquery-ui.min.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}iadmin/js/jquery.cookie.js"></script>
    {% if inline_admin_formsets %}
        <script>
            (function($) {
               $(document).ready(function() {
                    var $tabs = $('#tabs').tabs({ cookie: { expires: 30 }});
               });
            })(jQuery);
        </script>
    {% endif %}
{% endblock %}


{% block content %}
    {% block object-tools %}
    {% if change %}{% if not is_popup %}
      <ul class="object-tools"><li><a href="history/" class="historylink">{% trans "History" %}</a></li>
      {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
      </ul>
    {% endif %}{% endif %}
    {% endblock %}

    <div id="content-main">
    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post"
          id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
        <div>
            {% if is_popup %}<input type="hidden" name="_popup" value="1"/>{% endif %}
            {% if save_on_top %}{% submit_row %}{% endif %}
            {% if errors %}
                <p class="errornote">
                    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please
                        correct the errors below.{% endblocktrans %}
                </p>
                {{ adminform.form.non_field_errors }}
            {% endif %}

            {% for fieldset in adminform %}
                {% include "admin/includes/fieldset.html" %}
            {% endfor %}

            {% block after_field_sets %}{% endblock %}

            {% if is_popup %}<div style="display: none;">{% endif %}
            {% if inline_admin_formsets %}
                <div id="tabs">
                    <ul>
                        {% for inline_admin_formset in inline_admin_formsets %}
                            <li>
                                <a href="#tabs-{{forloop.counter}}"
                                   class="{% class_if_errors inline_admin_formset.formset.errors "taberror" %}">
                                    &nbsp;&nbsp;{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}&nbsp;&nbsp;
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    {% for inline_admin_formset in inline_admin_formsets %}
                        <div id="tabs-{{forloop.counter}}">
                            {% include inline_admin_formset.opts.template %}
                        </div>
                    {% endfor %}

                </div>
            {% endif %}
            {% if is_popup %}</div>{% endif %}
            {% block after_related_objects %}{% endblock %}


            {% submit_row %}

            {% if adminform and add %}
                <script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
            {% endif %}

            {# JavaScript for prepopulated fields #}
            {% prepopulated_fields_js %}

        </div>
    </form></div>
{% endblock %}
