{% extends "admin/change_list.html" %}
{% load adminmedia admin_list iadmin_list i18n %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}iadmin/css/ichangelists.css"/>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ media.js }}
    <script type="text/javascript">
        {% if cell_menu_on_click %}
        (function($) {
            $(document).ready(function($){
                $('div.cell-menu  li:hover ul, li.over ul').css('display', '');
                $('ul.iadmin-cell-menu').css('display', 'none');
                $('a.cell-menu-button').click(function(){
                    $(this).next().css('display', 'block');
                });
                $('ul.iadmin-cell-menu').mouseleave(function(){
                    $('ul.iadmin-cell-menu').css('display', 'none');
                });
            });
        })(django.jQuery);
        {% endif %}
    </script>
{% endblock %}

{% block filters %}
    {% if cl.has_filters %}
        <div id="changelist-filter">
            <h2>{% trans 'Filter' %}</h2>
            {% for spec in cl.filter_specs %}{% iadmin_list_filter cl spec %}{% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block result_list %}
    {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
    {% result_list cl %}
    {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
{% endblock %}
