{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia massupdate %}
{% block extrahead %}{{ block.super }}
    <script type="text/javascript">
        (function($) {
            $(document).ready(function($) {
                $('#id_datetime_format, #id_date_format, #id_time_format,').after('&nbsp;&nbsp;<span class="sample"></span>');

                var get_format = function ( sender ) {
                    $.get('{% url admin:format_date %}', {'fmt': $(sender).val()},
                            function(data) {
                                $(sender).next('.sample').html(data);
                            }
                    );
                };

                $('#id_datetime_format, #id_date_format, #id_time_format,').keyup(function() {
                    clearTimeout($(this).data('timer'));
                    var target = $(this);
                    var wait = setTimeout(function(){get_format( target  )}, 500);
                    $(this).data('timer', wait);


                });
                $('#id_datetime_format, #id_date_format, #id_time_format,').trigger('keyup');
            });
        })(django.jQuery);

    </script>

{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
    <div class="breadcrumbs">
        <a href="{% url admin:index %}">{% trans "Home" %}</a> &rsaquo;
        <a href="{% url admin:index %}{{ app_label}}">{{ app_label|capfirst }}</a> &rsaquo;
        {% if has_change_permission %}<a
                href="{% url admin:index %}{{ app_label}}/{{ model }}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo;
        CSV Export Options
    </div>
{% endif %}{% endblock %}

{% block content %}
    {% if form.subject.errors %}
        <ol>
            {% for error in form.subject.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        </ol>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ adminform.form }}
        </table>
        <input type="hidden" name="action" value="{{ action }}"/>
        <input type="submit" name="apply" value="Export"/>
    </form>
{% endblock %}