{% extends "admin/base_site.html" %}
{% load i18n iadmin %}
{% block extrahead %}{{ block.super }}
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}iadmin/js/jquery.min.js"></script>
    <script type="text/javascript">
        (function($) {
            $(document).ready(function($) {
                $('#back').click(function() {
                    window.location.href = "{{ back }}"
                });
                $('#reset').click(function() {
                    window.location.href = window.location.href
                });
                var $advanced = $(".rex input, .key input, .lkf input, th.rex, th.lkf, th.key")
                {% if not form.errors %}
                    $advanced.hide();
                {% endif %}
                $("#advanced").click(function() {
                    $advanced.toggle();
                });
                $('form').submit(function(event) {
                    $('.errorlist').hide();
                });
                if ($("#advanced").is(":checked")) {
                    $advanced.show();
                }
            });
        })(jQuery);
    </script>
    <style type="text/css">
        .col {
            width: 100pt;
        }
        .fld, .rex, .lkf {
            width: 150pt;
            padding-left: 0px;
        }
        .key {
            with: 30px;
        }

        #settings {
            width: 45%;
            /*border: 1px solid #000000;*/
        }
        #sample {
            width: 50%;
            padding: 0px;
            margin: 0px;
            /*border: 1px solid #000000;*/
            overflow: scroll;
        }
        #sample tr:hover {
            background-color: #FFFFCC;
        }
    </style>
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url admin:index %}">{% trans "Home" %}</a> &rsaquo;
        <a href="{% url admin:index %}{{ app_label}}">{{ app_label|capfirst }}</a> &rsaquo;
        <a href="{% url admin:index %}{{ app_label}}/{{ model_name }}">{{ model_name|capfirst }}</a> &rsaquo;
        <a href="../import/1">Import</a> &rsaquo; Mapping
    </div>

{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" method="post" action="{{ page }}">
        <div id="form_content">
            {% csrf_token %}
            <div class="clear">
                {% if page > 1 %}<input type="button" id="back" value="{{ lbl_back }}">{% endif %}
                <input type="submit" id="next" value="{{ lbl_next }}">&nbsp;&nbsp;&nbsp;
                <input type="button" id="reset" value="Reset">&nbsp;&nbsp;&nbsp;
                <input type="hidden" name="page" value="{{ page }}">
            </div>

            <div id="settings" class="left">
                <table>
                    <tr>
                        <td colspan="4">Advanced Options</td>
                        <td><input type="checkbox" {% if form.errors %}checked="checked"{% endif %} id="advanced"
                                   name="advanced"></td>
                    </tr>
                    {{ form }}
                </table>
            </div>


            <div id='sample' class="right">
                <table>
                    <tr>{% for i in form.columns_count|range %}
                        <th>Column #{{ i }}</th>{% endfor %}
                    <tr/>
                    {% for row in form.sample %}
                        <tr>
                            {% for cell in row %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </form>
{% endblock %}