{% extends "admin/base_site.html" %}
{% load i18n iadmin %}
{% block extrahead %}{{ block.super }}
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}iadmin/js/jquery.min.js"></script>
    <script type="text/javascript">
        (function($) {
            $(document).ready(function($) {
                $('#back').click(function() {
                    history.back(-1);
                });
            });
        })(jQuery);
    </script>
    <style type="text/css">
        #records tr:hover {
            background-color: #FFFFCC;
        }
    </style>
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url admin:index %}">{% trans "Home" %}</a> &rsaquo;
        <a href="{% url admin:index %}{{ app_label}}">{{ app_label|capfirst }}</a> &rsaquo;
        <a href="{% url admin:index %}{{ app_label}}/{{ model_name }}">{{ model_name|capfirst }}</a> &rsaquo;
        <a href="../import/1">Import</a> &rsaquo; <a href="{{ back }}">Mapping</a> &rsaquo; Apply
    </div>

{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" method="post" action="{{ page }}">{% csrf_token %}
        {{ form.as_hidden }}
        <div class="clear">
            {% if page > 1 %}<input type="button" id="back" value="{{ lbl_back }}">{% endif %}
            <input type="submit" name="apply"  value="{{ lbl_next }}"></div>
        <input type="hidden" name="page" value="{{ page }}"
        <div id="records">
            <table>
                <tr>{% for f in fields %}
                    <th>{{ f.name }}</th>{% endfor %}
                    <th>Message</th>
                    <th>CSV row</th>
                </tr>
                {% for obj, error, original_row in records %}
                    <tr>
                        {% for f in fields %}
                            <td>{{ obj|getattr:f.name }}</td>
                        {% endfor %}
                        <td>{% if error %}<span class="error">&nbsp;{{ error }}</span>{% else %}<span class="success">&nbsp;Valid!</span>{% endif %}</td>
                        <td>{% if error %}{{ original_row }}{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </form>

{% endblock %}