<a id="changelist-col-button" class="button" href="javascript:showhide('#changelist-cols-layout');">...</a>
<div id="changelist-cols-layout" style="display:none;">
    {% for c in list_columns %}
        <div><input type="checkbox" value="{{ forloop.counter }}">{{ forloop.counter }} {{ c|capfirst }}</div>
    {% endfor %}
</div>
<script type="text/javascript">
    (function ($) {
        $(document).ready(function ($) {
            args = $.url(location).param();
            var cols = ["1", "2", "3", "4", "5"];
            if (typeof args.ld != 'undefined'){
                cols = args.ld.split('.');
            }

            $("#changelist-cols-layout input").each(function () {
                console.log ( $(this), cols, $(this).val(),  $.inArray($(this).val(), cols)>=0 );
                $(this).attr('checked', $.inArray($(this).val(), cols)>=0 );
            });


            $('#changelist-cols-layout input').click(function () {
                var base = $.url(location).segment().join('/');
                var sel = new Array();
                $("#changelist-cols-layout input:checked").each(function () {
                    sel.push($(this).attr('value'));
                });
                args['ld'] = sel.join('.');
                location.href = '?' + $.param(args);
            });
        });
    })(django.jQuery);
</script>
