{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}
{% load i18n vcl menu kt pasport_tags %}
{% block extrahead %}{{ block.super }}
<style type="text/css">
.taberror {
    color: red;
    background: url({{ MEDIA_URL }}img/icon_error.gif) 0 0 no-repeat;
}
</style>

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}iadmin/css/jquery-ui-1.8.1.custom.css"/>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}iadmin/js/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}iadmin/js/jquery-ui.min.js"></script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}iadmin/js/jquery.cookie.js"></script>
<script>
$(function() {
    var $ = jQuery;
    var $tabs = $('#tabs').tabs({
               cookie: { expires: 30 },
//               select: function(event, ui) {
//                   console.log( ui.index );
//                   var selected = $tabs.tabs('option', 'selected');
//                   $("#selected_tab").val( ui.index )
//               }
});

//    $tabs.tabs('select', parseInt($.cookie("selected_tab")) ); // switch to third tab
//    $("#selected_tab").val( $.cookie("selected_tab") );

{#    $("#{{ opts.module_name }}_form").submit(function(event){#}
{#//        var $tabs = $('#tabs').tabs();#}
{#        var selected = $tabs.tabs('option', 'selected');#}
{#        $("#selected_tab").val( selected )#}
{#    });#}

    

});
</script>

{% endblock %}


{% block content %}<div id="content-main">
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}

{% block after_field_sets %}{% endblock %}

<input type="text" value="" name="selected_tab" id="selected_tab">
<div id="tabs">
    <ul>
    {% for inline_admin_formset in inline_admin_formsets %}
        <li>
        <a href="#tabs-{{forloop.counter}}" class="{% class_if_errors inline_admin_formset.formset.errors "taberror" %}" >
        &nbsp;&nbsp;{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}&nbsp;&nbsp;
        </a>
        </li>
    {% endfor %}
    </ul>

    {% for inline_admin_formset in inline_admin_formsets %}
        <div id="tabs-{{forloop.counter}}">
            {% include inline_admin_formset.opts.template %}
        </div>
    {% endfor %}

</div>

{% block after_related_objects %}{% endblock %}

{% submit_row %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
