{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}iadmin/css/jquery-ui-1.8.1.custom.css"/>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}iadmin/css/portlets.css"/>
{% endblock %}
{% block extrahead %}
    {{ super }}
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}iadmin/js/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}iadmin/js/jquery-ui.min.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}iadmin/js/jquery.cookie.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}iadmin/js/portlets.js"></script>
    {% if app_list|length_is:"1" %}
    {% else %}

    <script>
        init_portlets(jQuery);
//        var $ = jQuery;
//        $(function() {
//            $(".column").sortable({
//                        connectWith: ".column",
//                        stop: function(event, ui) {
//                            $('.column').each(function() {
//                                var column = $(this).attr('id');
////                                 console.log( column );
//                                var x = new Array()
//                                $('.portlet', this).each(function() {
//                                    var portlet = $(this).attr('id');
//                                    x.push(portlet);
//                                });
////                                 console.log( x.join() );
//                                $.cookie(column, x);
//                            });
//                        }
//                    });
//
//            $(".portlet").addClass("ui-widget ui-widget-content ui-helper-clearfix ui-corner-all")
//                    .find(".portlet-header")
//                    .addClass("ui-widget-header ui-corner-all")
//                    .prepend("<span class='ui-icon ui-icon-minusthick'></span>")
//                    .end()
//                    .find(".portlet-content");
//
//            $(".portlet-header .ui-icon").click(function() {
//                $(this).toggleClass("ui-icon-minusthick").toggleClass("ui-icon-plusthick");
//                $(this).parents(".portlet:first").find(".portlet-content").toggle();
//            });
//
//            $(".column").disableSelection();
//
//            $(window).load(function() {
//                $('.column').each(function() {
//                    var column = $(this).attr('id');
//                    var ck = $.cookie(column);
////                    console.log( ck );
//                    var e = ck.split(',');
//                    $.each(e, function(index, value) {
//                        var portlet = $('#' + value);
//                        $(portlet).detach().appendTo('#' + column);
////                        console.log( column, value );
//                    });
//
//                });
//            });
//        });
    </script>
    {% endif %}
{% endblock %}

{% block coltype %}{% endblock %}

{% block bodyclass %}dashboard2{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div id="ccontent-main">
        <div class="column" id='column1'>
            {% if app_list %}
                {% for app in app_list %}
                    <div class="module portlet" id="p{{ app.name }}">
                        <div class="portlet-header"><a href="{{ app.app_url }}"
                                                       class="section">{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}</a>
                        </div>
                        <div class="portlet-content">
                            <table summary="{% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}">
                                {% for model in app.models %}
                                    <tr>
                                        {% if model.perms.change %}
                                            <th scope="row" width="100%"><a
                                                    href="{{ model.admin_url }}">{{ model.name }}</a></th>
                                        {% else %}
                                            <th scope="row">{{ model.name }}</th>
                                        {% endif %}
                                        <th scope="row"> {{ model.count|ljust:20 }}</th>
                                        {% if model.perms.add %}
                                            <td><a href="{{ model.admin_url }}add/"
                                                   class="addlink">{% trans 'Add' %}</a></td>
                                        {% else %}
                                            <td>&nbsp;</td>
                                        {% endif %}

                                        {% if model.perms.change %}
                                            <td><a href="{{ model.admin_url }}"
                                                   class="changelink">{% trans 'Edit' %}</a></td>
                                        {% else %}
                                            <td>&nbsp;</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>{% trans "You don't have permission to edit anything." %}</p>
            {% endif %}
        </div>

        <div class="column" id='column2'>

        </div>
        <div class="column" id='column3'>

        </div>
        <div class="column" id='column4'>

        </div>

        <div class="column" id='column5'>
            
            <div class="module portlet" _id="recent-actions-module">
                <div class="portlet-header portlet-log">{% trans 'Recent Actions' %}</div>
                <div class="portlet-content">
                    <h3>{% trans 'My Actions' %}</h3>
                    {% load log %}
                    {% get_admin_log 10 as admin_log for_user user %}
                    {% if not admin_log %}
                        <p>{% trans 'None available' %}</p>
                        {% else %}
                        <ul class="actionlist">
                            {% for entry in admin_log %}
                                <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                                    {% if entry.is_deletion %}
                                        {{ entry.object_repr }}
                                    {% else %}
                                        <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                                    {% endif %}
                                    <br/>
                                    {% if entry.content_type %}
                                        <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                                    {% else %}
                                        <span class="mini quiet">{% trans 'Unknown content' %}</span>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

