
#admin-links{
    float:right;
    /*font-size: 90%;*/
    /*line-height: 100%;*/
    padding-bottom: 5px;
}
.right{
    float:right;
}
.left{
    float:left;
}

.env-info {
    padding-top:30px;
    padding-left:30px;
}

.env-info table td {
    line-height:16pt;
    font-size:14pt;
    with:700px;
    border-bottom: 0 none #EEEEEE;
}


