#changelist .actions label {
    font-size: 12pt;
    margin-left: 0.5em;
}

#changelist .actions span.all, #changelist .actions span.action-counter, #changelist .actions span.clear, #changelist .actions span.question {
    font-size: 12pt;
}

#changelist #toolbar form input {
    font-size: 12pt;
}

#result_list thead th.filtered {
    background-repeat: no-repeat !important;
}

table thead th.filtered a {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../img/funnel_new.png");
    background-position: right -1px;
    background-repeat: no-repeat;
    padding-right: 20px;
}

table .linktomodel, table .linktomodel{
    float: right;
    width:16px;
    padding-left:10px;
}

.w200{
    min-width: 200px;
}
.w300{
    min-width: 300px;
}
.elastic{
    width: 100%;
}