.dashboard #content {
    width: 100%;
}

#column1{
    min-width: 300px;
}

.column {
    min-width: 200px;
    float: left;
    padding-bottom: 100px; /*border:1px solid red;*/
}

.portlet {
    margin: 0 1em 1em 0;
}

.portlet-log {
    background-color: red;
    background-image: url("");
    border: 0 solid transparent;
}

.portlet-header {
    margin: 0.3em;
    padding-bottom: 4px;
    padding-left: 0.2em;
}

.portlet-header .ui-icon {
    float: right;
}

.portlet-content {
    padding: 0.4em;
}

.ui-sortable-placeholder {
    border: 1px dotted black;
    visibility: visible !important;
    height: 50px !important;
}

.ui-sortable-placeholder * {
    visibility: hidden;
}