<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>500 Server Error</title>
<link href="/icons/expired/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="notice">
        <h1>500 SERVER ERROR</h1>
        <h2>The web server encountered an error and was unable to complete your request. </h2>

    </div>
    <div>
        If this error persists, please contact the webmaster and inform them <br />
        of the time the error occurred, as well as anything you might have <br />
        done that may have caused the error.
    </div>
</body>
</html>
