
#admin-links{
    float:right;
    /*font-size: 90%;*/
    /*line-height: 100%;*/
    padding-top: 10px;
    padding-bottom: 10px;
}
.right{
    float:right;
}
.left{
    float:left;
}

.env-info {
    padding-top:30px;
    padding-left:30px;
}

.env-info table td {
    line-height:16pt;
    font-size:14pt;
    with:700px;
    border-bottom: 0 none #EEEEEE;
}

#chart-data{
    /*padding-left: 120px;*/
    margin-left: 120px;
}

span.error{
    background-image: url("../img/icon_error.gif");
    background-repeat: no-repeat;
    padding-left: 20px;
}

span.success{
    background-image: url("../img/icon_success.gif");
    background-repeat: no-repeat;
    padding-left: 20px;
}

.selector{
    width:90%;
}
.selector-available, .selector-chosen{
    width: 45%;
}

.selector-available select, .selector-chosen select {
    width: 100%;
}

.viewlink {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    /*background-image: url("../img/icon_addlink.gif");*/
    background-origin: padding-box;
    background-position: 0 0.2em;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding-left: 12px;
}