#result_list thead th.filtered {
    background-repeat: no-repeat !important;
}

table thead th.col-filtered a {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../img/funnel_new.png");
    background-position: right -1px;
    background-repeat: no-repeat;
    padding-right: 20px;
}

#result_list th .col-filtered {
    background-attachment: scroll !important;
    background-color: transparent !important;
    background-image: url("../img/funnel_new.png") !important;
    /*background-position: right -1px !important;*/
    background-repeat: no-repeat !important;
    margin-right: 2px !important;
    padding-right: 2px !important;
    float: left;
}
#result_list th .col-filtered a{
    background-image: none !important;
}
table .linktomodel, table .linktomodel {
    float: right;
    width: 16px;
    padding-left: 10px;
}

.w200 {
    min-width: 200px;
}

.w300 {
    min-width: 300px;
}

.elastic {

}

div.cell-menu {
    /*float: left;*/
    /*float: right;*/
    top: -20px;
    width: 10px;
    height: 5px;
    right: -20px;
    padding: 0px;
    margin-right: 10px;
    /*border: 1px solid red;*/
}

div.cell-menu  a.cell-menu-button {
    background-image: url("../img/cell_menu.png");
    background-repeat: no-repeat;
    width: 10px;
}

div.cell-menu  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 118px;
    /*width: 400px;*/
}

div.cell-menu ul li {
    position: relative;
    list-style-type: none;
    padding: 3px;
}

div.cell-menu li ul {
    display: none;
    background: #FFFFFF;
    left: 0px;
    #width: 1130px;
    border: 1px solid #ccc;
    position: absolute;
    z-index: 2;
    top: 0px;
}

div.cell-menu ul li a {
    text-decoration: none;
    padding: 5px;
    border-bottom: 0;
}

div.cell-menu  li:hover ul, li.over ul {
    display: block;
}

div.alphabetic-filter span{
    width: 50px;
    height: 50px;
    line-height: 20pt;
    margin: 0px;
    padding: 2px;
    text-align: center;
    /*border: 1px solid red;*/
    position: relative;
}

#changelist-filter div.alphabetic-filter span.selected a{
    color: #5B80B2;
    font-weight: bold;
}

.itools{
    border: 1px solid black;
    align:right;
}