{% extends "iadmin/nojs/index.html" %}
{% block content %}
    <div align="center">
        <div style="padding: 20px; margin: 50px; width: 800px; -moz-border-radius: 10px 10px 10px 10px; -moz-box-shadow: 1px 1px 10px rgb(153, 153, 153); border: 1px solid rgb(153, 153, 153);">
            <h1>Ooops!</h1><br>
            <table width="100%">
                <tbody>
                <tr>
                    <td></td>
                    <td>
                        It looks like you have Javascript disabled or NoScript plugin.
                        In order to keep the content of this website free we must display
                        advertisements on it that require Javascript. If you want to view the
                        content of this website the author wishes that you to turn Javascript
                        back on or turn off NoScript. This message will go away once Javascript
                        is enabled and you press the "Back" button.<br>

                        <center>
                            <h1 style="font-weight: normal;">How to re-enable Javascript:</h1>
                        </center>

                        <table width="100%">
                            <tbody>
                            <tr>
                                <td style="text-align: center; font-weight: bold; padding: 10px;">
                                    <h1 style="font-weight: normal;">Firefox:</h1>
                                    Tools -&gt; Options -&gt; Content -&gt; Make sure "Enable JavaScript" is checked.
                                </td>
                                <td>
                                    <img src="{{ MEDIA_URL }}iadmin/img/nojs/firefox/enable-javascript-ff.png"
                                         style="-moz-box-shadow: 5px 5px 10px rgb(153, 153, 153);" border="0">
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center; font-weight: bold; padding: 10px;">
                                    <h1 style="font-weight: normal;">NoScript:</h1>
                                    Allow Scripts Globally OR Allow cpalead.com.
                                </td>
                                <td>
                                    <img src="{{ MEDIA_URL }}iadmin/img/nojs/firefox/disable-noscript.png"
                                         style="-moz-box-shadow: 5px 5px 10px rgb(153, 153, 153);" border="0">
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}