{% extends "admin/base_site.html" %}
{% block title %}You must enable Javascript to view this website.{% endblock title %}
{% block extrahead %}
    {{ block.super }}
    <STYLE>
        body {
            font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
            color: #5C5D5D;
            line-height: 21px;
            font-size: 12px;
        }

        h1 {
            color: #2D9CBB;
        }
    </STYLE>
{% endblock extrahead %}
{% block content %}
{% endblock content %}